---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Exploring the Possible</strong></h1>
<p>Notes from a lone observer of the cosmos and the self. Small transmissions about awe, uncertainty, and the beauty of being here at all.</p>

<h2>Blogs</h2>

<img alt="pine" src="/images/pine.png" width="50" />