@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
    --background-primary: #000;
    --background-secondary: #373737;
    --accent: #bde79a;
    --text-primary: #fff;
    --text-secondary: #ededed;
}

body {
    font-family: "DM Mono", monospace;
    color: var(--text-primary);
    background-color: var(--background-primary);
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: var(--background-secondary);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: var(--text-secondary);
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
    color: var(--accent);
    text-decoration: underline;
}

p {
    color: var(--text-secondary);
}

.blogs {
    background-color: var(--background-secondary);
    padding: 24px;
    border-radius: 8px;
}

.blogs img {
    border-radius: 8px;
}

.blogs a, .blogs a:visited {
    color: var(--accent);
    text-decoration: underline;
    font-size: 1.5em;
    font-weight: 700;
}
